.history-card {
  @extend .card;

  padding: 10px;
  animation: slide-in .3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes slide-in {
  0% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(0px);
  }
}
