.keyboard-60-percent {
  display: grid;
  grid-template-columns: 15 * $keycap-size;
  grid-template-rows: 5 * $keycap-size;

  grid-template-areas: 
    "main";
  height: 5.5 * $keycap-size;
  width: 15.5 * $keycap-size;
}
