.keyboard-tenkeyless {
  display: grid;
  grid-template-columns: $keycap-size $keycap-size (4 * $keycap-size) (.5 * $keycap-size) (4 * $keycap-size) (.5 * $keycap-size) (4 * $keycap-size) (.25 * $keycap-size) (3 * $keycap-size);
  grid-template-rows: $keycap-size (.5 * $keycap-size) (2 * $keycap-size) $keycap-size (2 * $keycap-size);

  grid-template-areas: 
    "escape . functionkeys1 . functionkeys2 . functionkeys3 . utility1"
    ". . . . . . . . ."
    "main main main main main main main . utility2"
    "main main main main main main main . ."
    "main main main main main main main . arrows";

    height: 7.5 * $keycap-size;
    width: 19 * $keycap-size;
}
